@import "./bootrstrap.min.css";
@import "./media.scss";
@import "./images.scss";
@import "./fonts.scss";

$primaryColor: #3a85b4;
$secondaryColor: #dee2e6;

$secondaryTextColor: #6a7a83;
$darkTextColor: #333146;

$vertical-space: 50px;

* {
    box-sizing: border-box !important;
}
body {
    font-family: "Nunito", sans-serif !important;
    color: $darkTextColor !important;
    scroll-behavior: smooth;
}
p {
    margin: 0 !important;
}
a {
    text-decoration: none !important;
}
select,
input {
    padding: 15px 20px !important;
    font-size: 16px !important;
    box-shadow: none !important;
}
.btn {
    text-transform: uppercase !important;
    font-weight: 600 !important;
    box-shadow: none !important;
}
.btn-md {
    font-size: 15px !important;
}
[class*="primary"] {
    background-color: $primaryColor !important;
    border-color: $primaryColor !important;
}
[class*="text-primary"] {
    color: $primaryColor !important;
}
[class*="secondary"] {
    color: $secondaryTextColor;
    border-color: $secondaryColor;
}
.blur-container {
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(5px);
    width: 100%;
    height: 100%;

    &-light {
        backdrop-filter: blur(2px);
        width: 100%;
        height: 100%;
    }
}
.navbar {
    .nav-link {
        text-transform: uppercase;
        font-size: 15px !important;
        font-weight: 600 !important;
        color: $darkTextColor !important;

        &-active {
            color: $primaryColor !important;
        }
        &:hover {
            color: $primaryColor !important;
        }

        @media screen and (max-width: $large-width) {
            border-top: 1px solid $secondaryColor;
        }
    }

    .logo {
        width: 120px;
    }

    &-toggler {
        border: 0 !important;
        color: $secondaryTextColor;
        font-size: 25px !important;
        box-shadow: none !important;
    }
}
.icon-row-text {
    font-size: 14px;
}
#header {
    @media screen and (max-width: $large-width) {
        border-bottom: 0 !important;
        border-top: 1px solid $secondaryColor;
    }

    @media screen and (max-width: $medium-width) {
        .btn-outline {
            border: 1px solid $secondaryColor !important;
        }
        .btn-primary {
            border: 1px solid $primaryColor !important;
        }
    }
}
#index-hero {
    background-position: center;
    box-shadow: inset 0 0 0 1000px rgb(199 199 199 / 15%);
    background-image: $index-hero-bg;
    background-attachment: fixed;
    background-size: cover;
    color: rgba(0, 0, 0, 0.7);

    #hero-svg {
        width: 300px;
        user-select: none;
    }

    h1 {
        font-size: 65px;

        @media screen and (max-width: $large-width) {
            font-size: 40px;
            margin-top: 30px;
        }
    }

    .content > button {
        margin-top: 20px;
    }
}
.content-editable {
    outline: none;
}
.btn-primary-rounded {
    border-radius: 50px !important;
    border: 1px solid $primaryColor !important;

    &:hover {
        background-color: rgba(255, 255, 255, 0.6) !important;
        color: $primaryColor !important;
    }
}
#scroll-top {
    z-index: 100;
    position: fixed;
    bottom: 20px;
    right: 20px;

    i {
        background: none !important;
        transform: rotate(-45deg);
        font-size: 25px !important;
    }
}
#search-wrapper {
    padding: 25px;
    border-radius: 50px;
    margin-top: $vertical-space;
    box-shadow: 0px 0px 81px 0px rgb(50 50 50 / 5%);

    @media screen and (min-width: $large-width) {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -100%);
    }

    .row > * {
        @media screen and (max-width: $large-width) {
            margin-top: 10px;
        }
    }
}
.form-select {
    border-radius: 50px !important;
    border: 1px solid $secondaryColor;

    &:focus {
        border: 1px solid $primaryColor;
    }
}
.form-input {
    border-radius: 50px !important;
}
.form-control {
    &:focus {
        border-color: $primaryColor !important;
    }
}
.search-input {
    display: flex;
    align-items: center;
    position: relative;

    input {
        border: none;
        border-radius: 50px;
        z-index: 1 !important;
        padding-left: 50px !important;
        border: 1px solid $secondaryColor;
    }

    span {
        position: absolute;
        top: 50%;
        left: 20px;
        z-index: 2;
        transform: translate(0, -50%);
    }
}
.section {
    padding-top: $vertical-space;
}
.index-categories {
    @media screen and (min-width: $large-width) {
        padding-top: $vertical-space + 50;
    }
}
.category-single {
    position: relative;
    overflow: hidden;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 10px;

    img {
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        object-fit: cover;
        position: absolute;
        transition: 0.3s ease-in;
        height: 100%;
    }

    &:hover {
        img {
            transform: scale(1.2);
        }
    }

    .category-name {
        padding: 80px 0px;
        color: white;
        background-color: rgba($color: black, $alpha: 0.1);

        h3 {
            font-size: 30px;
            font-weight: 800 !important;
        }
        h5 {
            font-size: 20px;
        }
    }
}
.section-title {
    max-width: 800px;
    margin: 0 auto;

    h1 {
        font-weight: 600;
        font-size: 50px;
    }
    p {
        font-weight: 200;
        line-height: 26px;
        font-size: 18px;
    }
}
